// Moves arrow up and down
@keyframes moveArrow {
    from {
        transform: translateY(-30px)
    }
    to {
        transform: translateY(0)
    }
}

// Background image slides down
@keyframes introLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-100px)
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}