// Fonts
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import 'colors';
@import 'reset';
@import 'breakpoints';
@import 'animations';
@import 'sections/navigation';
@import 'sections/header';
@import 'sections/transform-stand-out';
@import 'sections/graphic-design-photography';
@import 'sections/testimonials';
@import 'sections/image-gallery';
@import 'sections/footer';

html {
    overflow-x:hidden;
}

body {
    font-size: 1.125rem;
    font-family: 'Fraunces', 'sans-serif';
}

.main {
    @include xl {
        margin:0 auto;
        max-width: 1600px;
        
    }

}


.fluid_container {
    @include fullWidth;
    background:#3dbeff;
    animation: introLoad 2s forwards;
}

.contact_btn {
    background:$darkCyan;
    padding-block:.8rem;
    padding-inline:1rem;
    border-radius:5px;
    font-family: $fraunces;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    transition:0.15s ease-in-out;
    cursor:pointer;

    &:hover {
        background:hsl(0%, 0%, 90%);

        a {
            color:$darkBlue;
        }
    }
    
    a {
        color:$white;
    }

} 



